@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.content {
  max-width: $layout-post-single-width;
  padding: 0 15px;
  margin: 0 auto;

  &__title {
    font-size: $typographic-base-font-size * 2;
    max-width: $layout-post-width;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    text-align: center;
    @include line-height(1.65);
    @include margin-top(1);
    @include margin-bottom(0);
  }

  &__body {
    & blockquote {
      text-align: left;
      position: relative;
      padding-left: 1em;
      border-left: 0.2em solid lighten(hsl(200, 40, 10), 40%);
      background: #E8E8E8;
      & p {
        max-width: $layout-post-width;
        font-family: 'Sanchez';
        font-size: $typographic-base-font-size * 1.125;
      }
    }

    & a {
      text-decoration: underline;
    }

    & * {
      max-width: $layout-post-width;
      margin-left: auto;
      margin-right: auto;
    }

    & img {
      max-width: 100%;
    }
  }
}

@include breakpoint-md {
  .content {
    padding: 0;

    &__title {
      font-size: $typographic-base-font-size * 3;
      @include line-height(2.25);
      @include margin-top(2.25);
      @include margin-bottom(1.5);
    }

    &__body {
      font-size: $typographic-base-font-size * 1.125;
      @include line-height(1.125);
      @include margin-bottom(1.125);

      & p {
        font-size: $typographic-base-font-size * 1.125;
        @include line-height(1.125);
        @include margin-bottom(1.125);
      }
    }
  }
}
